<ion-view view-title="活动详情">
	<ion-header-bar align-title="center" class="bar-stable bar-dark">
		<div class="buttons">
            <button class="button no-animation button-icon ion-ios-arrow-back" my-back>
            </button>
        </div>
        <div class="wodivh1 title text">活动详情</div>
        <div class="buttons">
        <button class="button button-icon icon ion-android-more-vertical"></button>
    </div>
	</ion-header-bar>
	<ion-content class="color-bg">
		<div class="list setting text" rj-close-back-drop>
          <div class="item item-divide">
            <img src="img/portrait.jpg" class="portrait">
        <div class="nickname">
          <p class="name" style="font-size:15px;">活动名称:<strong>每日一读</strong></p>
          <p class="num" style="font-size:15px;">发起人:刘志豪</p>
        </div>
          </div>
          <div class="item item-divider text">
         </div>
          <div class="item">
				<h2 class="left-column  text">当前人数</h2>
				<span class="right-column  text">299</span>
		  </div>
          <div class="item">
				<h2 class="left-column text">发起人手机号</h2>
				<span class="right-column text">13554468370</span>
			</div>

      <div class="item">
				<h2 class="left-column text">发起人邮箱</h2>
				<span class="right-column hand_cursor  text">sxtyyxz@sina.com</span>
			</div>
			<div class="item">
				<h2 class="left-column  text">发起人QQ</h2>
				<span class="right-column hand_cursor  text">1319135082</span>
			</div>
			<div class="item">
				<h2 class="left-column  text">活动地址</h2>
				<span class="right-column hand_cursor  text">武昌首义学院</span>
			</div>
        <div class="item">
				<h2 class="left-column  text">活动介绍</h2>
				<textarea class="right-column  text" style="resize:none;overflow:hidden;min-height:100px;max-height:200px">有些事情是不能告诉别人的，有些事情是不必告诉另人的，有些事情是根本没有办法告诉别人的，而且有些事情是：即使告诉了别人，你也马上会后悔的。所以，假使你够聪明，那么，最后的办法就是静下来，啃啮自己的寂寞，或者反过来说，让寂寞来吞噬你。</textarea>
			</div>
			<div class="item">
				<button class="button button-block button-positive text">加入活动</button>
			</div>
        </div>
	</ion-content>
</ion-view>