<ion-view view-title="发现">
<ion-header-bar align-title="center" class="bar-stable bar-dark">
        <div class="buttons">
            <button class="button no-animation button-icon ion-ios-arrow-back" my-back>
            </button>
        </div>
        <div class="wodivh1 title text">添加好友</div>
        
</ion-header-bar>
<ion-header-bar class="bar bar-subheader item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" ng-model="condition" placeholder="按手机号或者昵称搜索">
  </label>
  <button class="button button-calm" ng-click="searchFriend()">
    搜索
  </button>
</ion-header-bar>
<ion-content has-subheader="true">
  <ion-list>
        <div class="item item-divider text">
        搜索结果
         </div>
           <ion-list class="list">
    <ion-item class="item item-avatar" href="" ng-repeat="friend in friends">
      <img ng-src="{{url+friend.uimage}}">
      <h2 class="text" ng-bind="friend.uname"></h2>
      <p  class="text" ng-bind="friend.signature"></p>
      <ion-option-button class="button-balanced text" ng-click="addfriend(friend.uid)">添加书友</ion-option-button>
    </ion-item>
   </ion-list>
        </ion-list>
</ion-content>
</ion-view>