<ion-view view-title="书籍详情">
	<ion-header-bar align-title="center" class="bar-stable bar-dark">
		<div class="buttons">
            <button class="button no-animation button-icon ion-ios-arrow-back" my-back>
            </button>
        </div>
        <div class="wodivh1 title text">书籍详情</div>
        <div class="buttons">
        <button class="button button-icon icon ion-android-more-vertical"></button>
    </div>
	</ion-header-bar>
	<ion-content has-subheader="true">
	<ion-item class="item setting" href="">
      <div class="item item-divide">
            <img src="img/portrait.jpg" class="portrait">
        <div class="nickname">
          <p class="name"><strong>忆往昔</strong></p>
          <p class="num">手机号:13554468370</p>
        </div>
          </div>
    </ion-item>
	<ion-item class="item item-thumbnail-left" href="">
      <img src="img/cssnxs.jpg">
      <h2 class="text">作者:刘志豪</h2>
      <p  class="text" style="white-space:initial;">阅读人数:1000</p>
      <p  class="text" style="white-space:initial;">发布时间:2017/04/08</p>
    </ion-item>
	</ion-content>
</ion-view>