<ion-view view-title="书店详情">
	<ion-header-bar align-title="center" class="bar-stable bar-dark">
		<div class="buttons">
            <button class="button no-animation button-icon ion-ios-arrow-back" my-back>
            </button>
        </div>
        <div class="wodivh1 title text">书店详情</div>
        <div class="buttons">
        <button class="button button-icon icon ion-android-more-vertical" href="#/myselfbook"></button>
        </div>
	</ion-header-bar>
	<ion-content class="color-bg">
		<div class="list setting text" rj-close-back-drop>
          <div class="item item-divide">
            <img src="img/portrait.jpg" class="portrait">
        <div class="nickname">
          <p class="name"><strong>新华书店</strong></p>
          <p class="num">地址:湖北省武汉市武昌区武昌首义学院</p>
        </div>
          </div>
          <div class="item item-divider text">
         </div>
          <div class="item">
				<h2 class="left-column  text">信誉等级</h2>
				<span class="right-column  text">10</span>
		  </div>
          <div class="item">
				<h2 class="left-column text">手机号</h2>
				<span class="right-column text">13554468370</span>
			</div>

      <div class="item">
				<h2 class="left-column  text">邮箱</h2>
				<span class="right-column hand_cursor  text">sxtyyxz@sina.com</span>
			</div>
        <div class="item">
				<h2 class="left-column  text">店家介绍</h2>
				<textarea class="right-column  text" style="resize:none;overflow:hidden;min-height:100px;max-height:200px">有些事情是不能告诉别人的，有些事情是不必告诉另人的，有些事情是根本没有办法告诉别人的，而且有些事情是：即使告诉了别人，你也马上会后悔的。所以，假使你够聪明，那么，最后的办法就是静下来，啃啮自己的寂寞，或者反过来说，让寂寞来吞噬你。</textarea>
			</div>
			<div class="item item-divider text">
    		店内的书籍
         </div>
         <div class="item text">
         	<div class="row">
         		<div class="col text">
         			<div class="box">
  					<img src="img/cssnxs.jpg">
   					<div>钢铁是怎样炼成的</div>
				   </div>
         		</div>
         		<div class="col text">
         			<div class="box">
  					<img src="img/cssnxs.jpg">
   					<div>钢铁是怎样炼成的</div>
				   </div>
         		</div>
         	</div>
         </div>
        </div>
	</ion-content>
</ion-view>