<ion-tabs class="tabs-icon-top tabs-color-active-balanced">
    <ion-tab title="我的交换书" icon-on="ion-ios-home clam" icon-off="ion-ios-home-outline" ui-sref="changebooktabs.mychange">
        <ion-nav-view animation="slide-left-right" name="changebooktabs-mychange"></ion-nav-view>
    </ion-tab>
    <ion-tab title="交换中的书" icon-on="ion-ios-book clam" icon-off="ion-ios-book-outline" ui-sref="changebooktabs.mychanging">
          <ion-nav-view animation="slide-left-right" name="changebooktabs-mychanging"></ion-nav-view>
    </ion-tab>
    <ion-tab title="换书看" icon-on="ion-ios-chatbubble clam" icon-off="ion-ios-chatbubble-outline" ui-sref="changebooktabs.changebook">
       <ion-nav-view animation="slide-left-right" name="changebooktabs-changebook"></ion-nav-view>
    </ion-tab>
</ion-tabs>
    
  
    