<ion-view view-title="我的交换书">
<ion-header-bar align-title="center" class="bar-stable bar-dark">
        <div class="buttons">
            <button class="button no-animation button-icon ion-ios-arrow-back" ng-click="myback();"></button>
        </div>
        <div class="wodivh1 title text">我的交换书</div>
</ion-header-bar>
	<ion-content has-subheader="true"  on-swipe-left="onSwipeLeft()">
        <div class="list">
        <div class="item" style="padding:0px;">
        	<div class="row">
        		<div class="col text">
        		<div class="box">
  					<img src="img/cssnxs.jpg">
   					<div>我</div>
				</div></div>
        		<div class="col text-center text" style=""> 
        		<div class="tab-item text" style="padding-top:13px;">2015
        			<i class="icon ion-ios-loop positive"></i>
        		已交换
  				</div>
  				</div>
        		<div class="col text-center text-right text"><div class="box">
  					<img src="img/cssnxs.jpg">
   					<div>莫言</div>
				</div></div>
        	</div>
        </div>
        </div>
	</ion-content>
</ion-view>