<ion-view view-title="其他">
	<ion-header-bar align-title="center" class="bar-stable bar-dark">
		<div class="buttons">
            <button class="button no-animation button-icon ion-ios-arrow-back" my-back>
            </button>
        </div>
        <div class="wodivh1 title text">其他</div>
	</ion-header-bar>
	<ion-content has-subheader="true" class="rj-stable-content">
		<div class="list text">

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-ios-people-outline"></i>
    读书笔记
    <i class="icon ion-ios-arrow-forward"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-ios-heart-outline"></i>
    活动记录
     <i class="icon ion-ios-arrow-forward"></i>
  </a>

  <a class="item item-icon-left" href="#/myselfbook">
    <i class="icon ion-ios-chatbubble-outline"></i>
   我的作品
    <span class="badge badge-assertive" ng-bind="mybookcount"></span>
  </a>

</div>
	</ion-content>
</ion-view>