<ion-view view-title="书房">
<ion-content has-subheader="true" class="rj-stable-content" delegate-handle="sideScroll" id="userRegister">
	<div class="list text">

  <a class="item item-icon-left item-icon-right" ng-click="go('changebooktabs.mychange')">
    <i class="icon ion-ios-loop-strong"></i>
    交换书
    <i class="icon ion-ios-arrow-forward"></i>
  </a>

  <a class="item item-icon-left item-icon-right" ng-click="go('baskbook')">
    <i class="icon ion-ios-filing-outline"></i>
    晒书房
    <i class="icon ion-ios-arrow-forward"></i>
  </a>

  <a class="item item-icon-left item-icon-right" ng-click="go('readhistory')">
    <i class="icon ion-ios-infinite"></i>
   阅读历史
   <i class="icon ion-ios-arrow-forward"></i>
  </a>
</div>
</ion-content>


</ion-view>