<ion-header-bar align-title="center" class="bar-dark"><div class="wodivh1 title text">修改密码</div></ion-header-bar>
<ion-list>
<form name="updatepassword" novalidate>
    <ion-item class="my-popup item-input" style="margin-top:44px;">
    <input type="password" class="text" placeholder="密码" name="upassword" ng-maxlength="16" ng-minlength="8" ng-model="user.upassword" required>
    <i class="icon ion-android-close assertive ion" ng-show="updatepassword.upassword.$dirty &&updatepassword.upassword.$invalid"></i>
    <i class="icon ion-android-done balanced ion" ng-show="updatepassword.upassword.$dirty&&updatepassword.upassword.$valid" ></i>
    </ion-item>
    <ion-item class="my-popup item-input">
     <input type="password" class="text" placeholder="再次输入密码" name="apassword" ng-maxlength="16" ng-minlength="8" ng-model="user.apassword" required>
    <i class="icon ion-android-close assertive ion" ng-show="updatepassword.apassword.$dirty &&updatepassword.apassword.$invalid"></i>
    <i class="icon ion-android-done balanced ion" ng-show="updatepassword.apassword.$dirty&&updatepassword.apassword.$valid" ></i>
    </ion-item>
    <ion-item>
    <button class="button button-block button-assertive text" ng-click="updatepwd()" ng-disabled="updatepassword.upassword.$dirty &&updatepassword.upassword.$invalid || updatepassword.apassword.$dirty &&updatepassword.apassword.$invalid || updatepassword.upassword.$pristine || updatepassword.apassword.$pristine">确认修改</button>
    </ion-item>
</form>
</ion-list>