<ion-view view-title="用户详情">
	<ion-header-bar align-title="center" class="bar-stable bar-dark">
		<div class="buttons">
            <button class="button no-animation button-icon ion-ios-arrow-back" my-back>
            </button>
        </div>
        <div class="wodivh1 title text">用户详情</div>
        <div class="buttons">
        <button class="button button-icon icon ion-android-more-vertical"></button>
    </div>
	</ion-header-bar>
	<ion-content class="color-bg">
		<div class="list setting text">
          <div class="item item-divide">
            <img src="img/portrait.jpg" class="portrait">
        <div class="nickname">
          <p class="name"><strong>忆往昔</strong></p>
          <p class="num">手机号:13554468370</p>
        </div>
          </div>
          <div class="item item-divider text">
         </div>
          <div class="item">
				<h2 class="left-column  text">QQ号</h2>
				<span class="right-column  text">1319135082</span>
		  </div>
          <div class="item">
				<h2 class="left-column text">手机号</h2>
				<span class="right-column text">13554468370</span>
			</div>

      <div class="item">
				<h2 class="left-column  text">邮箱</h2>
				<span class="right-column hand_cursor  text">sxtyyxz@sina.com</span>
			</div>
        <div class="item">
				<h2 class="left-column  text">个性签名</h2>
				<span class="right-column  text">前进</span>
			</div>
			<div class="item item-divider text">
    		他的作品
         </div>
         <div class="item text">
         	<div class="row">
         		<div class="col text">
         			<div class="box">
  					<img src="img/cssnxs.jpg">
   					<div>钢铁是怎样炼成的</div>
				   </div>
         		</div>
         		<div class="col text">
         			<div class="box">
  					<img src="img/cssnxs.jpg">
   					<div>钢铁是怎样炼成的</div>
				   </div>
         		</div>
         	</div>
         </div>
        </div>
	</ion-content>
</ion-view>